.button {
  width: 166px;
  height: 40px;
  padding: 12px 70px;
  box-sizing: border-box;

  font-size: 14px;
  font-weight: 700;
  color: $btn-text-color;
  text-decoration: none;

  background-color: $btn-bg-color;
  border-radius: 5px;

  &:hover {
    border: 1px solid $btn-brdr-color-hover;
    color: $btn-text-color-hover;
    background-color: $btn-bg-color-hover;
  }
}
