.price {
  &__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    vertical-align: bottom;
  }

  &__value {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    vertical-align: bottom;
    color: $color-text;
  }
}
