.price {
  &__label {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }

  &__value {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: $main-color;
  }
}
